.container
    width: 100%
    max-width: calc(var(--container-width) + (var(--container-padding) * 2))
    margin: 0 auto
    padding-left: var(--container-padding)
    padding-right: var(--container-padding)

.fade-up
    opacity: 0
    transform: translateY(30px)
    transition: all .6s ease

.fade-up.is-visible
    opacity: 1
    transform: translateY(0)
