.h1, h1
    font-size: var(--fs-h-one)
    line-height: 1.3
    font-weight: 600

.h2, h2
    font-size: var(--fs-h-two)
    line-height: 1.3
    font-weight: 600

.h3, h3
    font-size: var(--fs-h-three)
    line-height: 1.2
    font-weight: 600

.h4, h4
    font-size: var(--fs-h-four)
    line-height: 1.2
    font-weight: 600

.text-lg
    font-size: var(--fs-text-lg)
    line-height: 1.6

.text
    font-size: var(--fs-text)
    line-height: 1.6

    &-sm
        font-size: var(--fs-text-sm)
        line-height: 1.5
