:root
    /* Colors */
    --color-accent: #00888A
    --color-accent-hover: #017375
    --color-dark: #282828
    --color-light: #F8F8F8
    --color-text: #222222
    --color-white: #ffffff
    --color-border: #e5e5e5

    /* Layout */
    --container-width: 1400px
    --container-padding: 15px
    --section-padding: 80px

    /* Typography */
    --font-main: 'Inter', sans-serif
    --font-size-base: 16px
    --line-height-base: 1.5

    --fs-h-one: 48px
    --fs-h-two: 36px
    --fs-h-three: 28px
    --fs-h-four: 22px
    --fs-text-lg: 18px
    --fs-text: 16px
    --fs-text-sm: 14px

    /* UI */
    --radius: 12px
    --radius-road: 999px
    --transition: all 0.3s ease
